.BooksContainer {
  display: grid;
  grid-template-columns: repeat(2,minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 375px) {
  .BooksContainer {
  }
}

@media (min-width: 768px) {
  .BooksContainer {
  }
}

@media (min-width: 1024px) {
  .BooksContainer {
    grid-template-columns: repeat(3,minmax(0, 1fr));
  }
}

@media (min-width: 1440px) {
  .BooksContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}