.Module {
  background-color: white;
  padding: 1rem;

  &:hover{
    cursor: pointer;
  }

  &__title {

  }

  &__description {

  }
}

@media (min-width: 768px) {
  .Module {
    padding: 2rem;
  }
}