.LessonFooter{
  align-items: center;
  background-color: #ffcf31;
  bottom:0;
  display: flex;
  flex-direction: row;
  left:0;
  padding: .5rem 1rem;
  position: fixed;
  width: 100%;

  & > * {
    flex-grow: 1;
  }
}