.NavigationBar {
    display: none;
}

@media (min-width: 768px) {
    .NavigationBar {
        display: block;

        &__inner {
            display: flex;
            justify-content: space-between;
            margin: 0 1rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: left;
            }

            li {
                display: inline-block;
                margin: 1rem;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover,&:active {
                        color: orange;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .NavigationBar {
        &__inner {
            margin: 0 3rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: left;
            }

            li {
                display: inline-block;
                margin: 1rem;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover,&:active {
                        color: orange;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .NavigationBar {
        &__inner {
            margin: 0 auto;
            max-width: 1440px;
            padding: 0 3rem;
        }
    }
}