.ArticlesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 375px) {
  .ArticlesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .ArticlesContainer {}
}

@media (min-width: 1024px) {
  .ArticlesContainer {
  }
}

@media (min-width: 1440px) {
  .ArticlesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}