.ArticleFooter {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__title {
    margin-top: .5rem;
    flex-grow: 1;
  }

  &__tags {
    margin-top: 1rem;
    display: flex;

    & > span + span {
      margin-left: .2rem;
    }
  }

  &__info {
    margin-top: .5rem;

    & > span + span {
      margin-left: .2rem;
    }

    & > span {
      font: .7rem sans-serif;
      color: #9c9c9c;
      padding: .2rem;
    }

  }
}