.SideDrawerToggle {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 2.5rem;
  justify-content: space-around;
  padding: .5rem 1rem;
  width: 4rem;
  background-color: #f8f8f8;

  div {
    background-color: grey;
    height: 3px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .SideDrawerToggle {
    display: none;
  }
}