.feature-item {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.feature-item-text * + * {
    margin-top: 1.5rem;
}

.feature-item-image {
    width: 220px;
    margin: 1.5rem auto 0;
}

@media (min-width: 768px) {
    .feature-item {
        flex-direction: row;
        align-items: center;
    }

    .feature-item-text {
        width: 70%;
    }

    .flex-reverse {
        flex-direction: row-reverse;
    }

    .flex-reverse > .feature-item-text {
        margin-left: 1.5rem;
    }

    .feature-item-image {
        margin: 0 auto;
    }
}
