.Film {
  cursor: pointer;
  align-self: stretch;
  position: relative;
  overflow: hidden;

  &__inner {
    border-radius: .2em;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    img {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
    }

    h3 {
      font-size: 1rem;
      font-weight: 300;
      white-space: nowrap;
      display: block;
      max-width: 100%;
    }

    p {
        font-size: 1rem;
        font-weight: 300;
    }

    &_hover {
      padding: 1rem;
      background-color: #787878;
      margin: -.5rem;
      color: white;

      & > * + * {
        margin-top: 1rem;
      }
    }
  }

  &__description {
    background-color: #787878;
    border-radius: .2em;
    color: white;
    font-weight: 300;
    height: 100%;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
    width: 100%;
    z-index: 100;

    & > * + * {
      margin-top: 1rem;
    }
  }

  &:hover &__description {
    opacity: 1;
    transform: translateY(0);
  }
}