.Level {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__left{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    p {
      margin-top: 1rem;
    }
  }

  &__right{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    p {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .Level {
    flex-direction: row;
    padding: 4rem;
    max-width: 1024px;
    margin: 0 auto;

    &__left{
      padding: 0 1rem;
      width: 550px
    }

    &__right{
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
    }
  }
}

@media (min-width: 1024px) {
  .Level {
    flex-direction: row;
    padding: 4rem;
    max-width: 1440px;
    margin: 0 auto;

    &__left{
      width: 550px
    }

    &__right{
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
    }
  }
}